.listwrapper{

}
.suggest{
    font-size: 20px;
    color: #000;
    padding-left: 3px;
    border-bottom: 1px dashed #000;
    width: 77.5%;
    margin-left: 20%;
    padding-bottom: 3px;
}
.list{
    height: 450px;
    overflow: hidden;
    margin-top: 25px;
}
.list>div{
    width: 150px;
    height: 210px;
    float: left;
    margin: 3px;
    color: #666;
}
.list>div:hover{
    background-color: rgba(255,255,255,0.2);
}
.book{
    width: 150px;
    height:150px;
}
.desc{
    position: relative;
    left: 27%;
    font-size: 13px;
}
.name{
    color: #000000;
}
.name>a{
    color: #000000;
    text-decoration: none;
}
.name>a:hover{
    color: #8c222c;
    cursor: pointer;
}
.name>a:active{
    color: #000;
}
.price{
    color: #8c222c;
}
