/* header.css */
.root{
    background-color: #8c222c;
    padding: 10px;
    color: #fff;
    font-size: 15px;
}
.entry{
    float: right;
    margin-right: 30px;
    letter-spacing: 1.5px;
}
.title{
    margin: 50px;
}
.login{
    margin-right: 15px;
    /*border: 1px solid #000;*/
    font-size: 15px;
    cursor: pointer;
}
.login:active{
    background-color: #8c222c;
    opacity: 0.5;
}
.loginwrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66,66,66,0.5);
    z-index: 9999;
    visibility: hidden;
}
.logincontent{
    width: 400px;
    height: 290px;
    margin: 12% auto;
    background-color: #f7f7f6;
    color: #000;
    display: flex;
    flex-direction: column;
}
.logincontent>input{
    /*background-color: #8c222c;*/
    width: 250px;
    height: 30px;
    border: 1px solid rgba(66,66,66,0.6);
    margin-left: 75px;
}
.logincontent>input:first-child{
    border-bottom: none;
}
.logintitle{
    margin: 25px 0 25px 71px;
    font-size: 40px;
    color: rgba(66,66,66,0.6);
}
.logincontent>button{
    width: 250px;
    height: 38px;
    font-size: 18px;
    text-align: center;
    margin: 32px auto;
    cursor: pointer;
    letter-spacing: 10px;
}
.closebtn{
    display: block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    /*font-weight: bold;*/
    color: rgba(66,66,66,0.5);
    margin:2px 384px;
    font-size: 18px;
    /*background: url("http://login.kongfz.com//pc/images/login/login_ico.png") no-repeat;*/
}
.closebtn:hover{
    color: rgba(66,66,66,0.8);
}