.show{
    display: block;
}
.close{
    display: none;
}
.list{
    width: 250px;
    height: 560px;
    left: 200px;
    border: 1px solid #f2f1ea;
    border-right: none;
    float: left;
    font-size: 18px;
    z-index: 999;
}
.sort{
    background-color: #8c222c;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
    padding: 4px 15px;
}
.list>li{
    list-style: none;
    margin: 0px;
    padding: 10px 0 10px 35px;
    display: block;
    width: 84%;
    border: 3px solid transparent;
    box-sizing:content-box;
    height: 25px;
}
li:hover{
    border-color: #8c222c;
    border-right-color: #fff;
    border-right-width: 5px;
}
dl{
    position: relative;
    width: 650px;
    height: 350px;
    left: 210px;
    top: -54px;
    border: 3px solid #8c222c;
    font-size: 17px;
    background-color: #ffffff;
    z-index: 99;
}


